.logo {
    display: block;
    width: 200px;
    height: 100px;
}

.clock {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

    border: 2px black;
    border-style: dashed;
}

.lots {
    margin-top: 15px;
}

.lot {
    display: inline-block;
    padding: 10px;

    border: 2px black;
    border-style: dashed;

    margin-right: 10px;
}

.lot.favorite {
    border-color: #ffd7cb;
    background: #ffd7cb;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 0.8rem;
    outline: none;
}
button * {
    vertical-align: middle;
}

button.favorite {
    background: #fff;
    border: 1px solid #999;
    color: #000
}

button.unfavorite {
    background: #fff;
    border: 1px solid #ff8c68;
    color: #dc0000;
}

.clock .icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 5px;
}

.clock .icon.day {
    background-color: #ef7b00;
}

.clock .icon.night {
    background-color: #2459a7;
}

.loading {
    display: block;
    padding: 20px;
    width: 150px;
    background-color: lightcyan;

}